
 <div class="colorlib-product">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 text-center">
            <div class="featured">
              <a href="/men" class="featured-img" style="background-image: url(https://res.cloudinary.com/droruloek/image/upload/v1610685119/footwear_images/feet-1840619_1920_kjmgrh.jpg);"></a>
              <div class="desc">
                <h2><a href="/men">Shop Men's Collection</a></h2>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="featured">
              <a href="/women" class="featured-img" style="background-image: url(https://res.cloudinary.com/droruloek/image/upload/v1610685118/footwear_images/shoe-2538424_1920_rf0gnh.jpg);"></a>
              <div class="desc">
                <h2><a href="/women">Shop Women's Collection</a></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- comment partial has not been applied --}}
