<aside id="colorlib-hero">
      <div class="flexslider">
        <ul class="slides">
          <li style="background-image: url(https://res.cloudinary.com/droruloek/image/upload/v1610684748/footwear_images/shoes-1245920_1920_xjxz0g.jpg);">
            <div class="overlay"></div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6 offset-sm-3 text-center slider-text">
                  <div class="slider-text-inner">
                    <div class="desc">
                      <h1 class="head-1">Footwear's</h1>
                      <h2 class="head-2"></h2>
                      <h2 class="head-3">Collection</h2>
                      <p class="category"><span>New trending shoes</span></p>
                      <p><a href="/men" class="btn btn-primary">Shop Collection</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li style="background-image: url(https://res.cloudinary.com/droruloek/image/upload/v1610684749/footwear_images/fashion-1284496_1920_zl3i4v.jpg);">
            <div class="overlay"></div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6 offset-sm-3 text-center slider-text">
                  <div class="slider-text-inner">
                    <div class="desc">
                      <h1 class="head-1">Huge</h1>
                      <h2 class="head-2">Sale</h2>
                      <h2 class="head-3"><strong class="font-weight-bold">50%</strong> Off</h2>
                      <p class="category"><span>Big sale sandals</span></p>
                      <p><a href="/women" class="btn btn-primary">Shop Collection</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li style="background-image: url(https://res.cloudinary.com/droruloek/image/upload/v1610684749/footwear_images/businessman-1284463_1920_bgroie.jpg);">
            <div class="overlay"></div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6 offset-sm-3 text-center slider-text">
                  <div class="slider-text-inner">
                    <div class="desc">
                      <h1 class="head-1">New</h1>
                      <h2 class="head-2">Arrival</h2>
                      <h2 class="head-3">up to <strong class="font-weight-bold">30%</strong> off</h2>
                      <p class="category"><span>New stylish shoes for men</span></p>
                      <p><a href="/men" class="btn btn-primary">Shop Collection</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </aside>