{{!-- nav partial --}}
{{> header}}

{{>slider}}

{{>product_collections}}

<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
                <h2>Best Sellers</h2>
            </div>
        </div>

      {{>product}}
        <div class="row">
            <div class="col-md-12 text-center">
                <p><a href="/footwears" class="btn btn-primary btn-lg">Shop All Products</a></p>
            </div>
        </div>
    </div>
</div>

{{>partner}}

{{!-- Footer partial --}}
{{>footer}}