{{>header}}
<!-- main -->

<div class="container-fluid">
    <div class="user">

        <a id="Signup" href="/users/signup">
            <button id="SignupBtn">
                <p>Signup</p>
            </button>
        </a>
        <div class="header-w3l">
            <h1 style="margin-left: 135px;">Online Login</h1>
        </div>
        <!--//header-->
        <div class="main-content-agile">
            <div class="sub-main-w3">
                <form method="post">
                    <div class="pom-agile" id="input-email">
                        <input placeholder="E-mail" name="email" id="email" class="user" type="email"
                            onchange="checkExistEmail(this.value)" required>
                        <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                    </div>
                    <div class="pom-agile" id="input-code" style="display: none;">
                        <input placeholder="Your code" name="code" id="code" class="user" type="number" required>
                        <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                    </div>
                    <div id="email-info" class="forgotpassword"></div>
                    <div id="message"></div>
                    <div class="sub-w3l">
                        <div class="right-w3l">
                            <button id="continue" onclick="replaceInputCode()" ><p>Continute</p></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--//main-->
        <!--footer-->
        <div class="footer">
            <p>&copy; 2020 Online Login Form. All rights reserved</p>
        </div>

    </div>


</div>


{{!-- footer --}}
{{>footer}}



<script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>