<head>
 <!-- css files -->
    <link rel="stylesheet" href="/css-signup/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link rel="stylesheet" href="/css-signup/font-awesome.css">

</head>
<body>
{{>header}}


<div class="container-fluid">
    <div class="main-content-agile">
        <div class="sub-main-w3">
            <div class="header-w3l">
                <h1>SIGN UP</h1>
            </div>
            <form action="#" method="post">
                <div class="pom-agile">
                    <input placeholder="Username" name="Name" class="user" type="text" required="">
                    <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                </div>
                <div class="pom-agile">
                    <input placeholder="Password" name="Password" class="pass" type="password" required="">
                    <span class="icon2"><i class="fa fa-lock" aria-hidden="true"></i></span>
                </div>
                <div class="pom-agile">
                    <input placeholder="Re-type Password" name="RetypePass" class="pass" type="password" required="">
                    <span class="icon2"><i class="fa fa-lock" aria-hidden="true"></i></span>
                </div>
                <div class="pom-agile">
                    <input placeholder="E-mail" name="Email" class="user" type="email" required="">
                    <span class="icon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                </div>

                <div class="sub-w3l">
                    <h6><a href="./login.html">Have already an account?</a></h6>
                    <div class="right-w3l">
                        <input type="submit" value="Sign up">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--//main-->
    <!--footer-->
    <div class="footer">
        <p>&copy; 2017 Online Login Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a>
        </p>
    </div>
    <!--//footer-->
   
</div>

 {{>footer}}

</body>
